.fa {
  /* padding: 20px; */
  font-size: 1rem;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background: var(--background-blue);
}

.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}
