mat-toolbar {
  height: 100%;
  background-color: var(--background-blue) !important;
  color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 100%;
  padding: 0px !important;
}

mat-sidenav {
  width: 20vw;
  background: var(--bs-light);
  color: var(--background-blue) !important;
  text-align: center;
}

mat-sidenav-container {
  height: 87vh !important;
}
