<div class="row col-12" style="height: inherit; background-color: var(--background-blue); display: flex; justify-content: space-around;margin: 0px;">
  <div class="row col-3 justify-content-center align-items-center">
    <div class="col-2"><img src="../../../assets/logo.png" alt="logo" style="width: 100%;"></div>
    <div class="col-10">
      <span style="color: #fff;font-size: 1.5em;">Customer Management</span>
    </div>
  </div>
  <div class="row col-5 justify-content-center align-items-center">
    <div class="col-3 btn-header-element"><button type="button" class="btn btn-outline-light" style="width: 100%; border-color: var(--background-blue);">Customers</button></div>
    <div class="col-3 btn-header-element"><button type="button" class="btn btn-outline-light" style="width: 100%; border-color: var(--background-blue)">Orders</button></div>
    <div class="col-3 btn-header-element"><button type="button" class="btn btn-outline-light" style="width: 100%; border-color: var(--background-blue)">About</button></div>
  </div>
  <div class="row col-4 justify-content-end align-items-center">
    <div class="col-3 btn-header-element"><button type="button" class="btn btn-outline-light" style="width: 100%; border-color: var(--background-blue)">Login</button></div>
  </div>
</div>
